CardNumber.tscn filter=lfs diff=lfs merge=lfs -text
C:/Users/Utilizador/Desktop/BingoChallange/Components/Card/CardNumber.tscn filter=lfs diff=lfs merge=lfs -text
Components/Card/CardNumber.tscn filter=lfs diff=lfs merge=lfs -text
